@font-face {
    font-family: 'Aesthetic';
    src: url('./assets/font/Aesthetic.ttf') format('truetype');
}
@font-face {
    font-family: 'Firesidedemo';
    src: url('./assets/font/Firesidedemo-0WB1d.otf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
}
